definitions:
  models.Employee:
    properties:
      city:
        type: string
      country:
        type: string
      email:
        type: string
      firstName:
        type: string
      fullName:
        type: string
      id:
        type: integer
      image:
        type: string
      jobTitle:
        type: string
      lastName:
        type: string
      onboardingCompletion:
        type: integer
      phone:
        type: string
    type: object
info:
  contact: {}
paths:
  /employees:
    get:
      description: Get List of employees
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.Employee'
            type: array
        "400":
          description: err_codeï¼š10002
          schema:
            type: string
      summary: Get Employees
swagger: "2.0"
